.wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	border: 4px solid #b89779;
	border-radius: 8px;
	background: #c4a180;
	width: 700px;
	height: 700px;
	padding: 24px;
	text-align: center;
}
.wrapperEmptyState {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btnCreate {
	width: 220px;
	height: 48px;
}

.paragraphe {
	text-align: justify;
}
