.wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	border: 4px solid #b89779;
	border-radius: 8px;
	background: #c4a180;
	width: 700px;
	height: 700px;
	padding: 24px;
	text-align: center;
}

.paragraphe {
	text-align: justify;
}
