.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 48px;
	padding: 12px;
	border: none;
	border-bottom: 3px solid rgb(242, 207, 165);
	border-radius: 10px;
	background-color: bisque;
	color: black;
	cursor: pointer;
	position: fixed;
	left: 20px;
	bottom: 20px;

	font-size: 16px;

	&:hover {
		opacity: 0.8;
	}
}
